# Environment variables
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
*.sqlite3

# Virtual environment
venv/
env/
.venv/

# Node
node_modules/
frontend/node_modules/

# React build
frontend/dist/
frontend/build/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db